* {
    font-family: "Roboto";
}

body {
    background-color: #3b446f;
}

button {
    width: 125px;
    height: 45px;
    padding: 5px;
    border: 1px solid black;
    font-size: 16px;
    background-color: #0b112d;
    color: white;
    cursor: pointer;
}

button:hover {
    transform: scale(1.03);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

.main-container > h1 {
    font-size: 48px;
    color: #0b112d;

}

.grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 370px;
    width: 370px;
    flex-wrap: wrap;
}

.gridbox {
    border: 2px solid #0b112d;
    height: 120px;
    width: 120px;
    background-position: center;
    background-size: 100%;
    background-image: url();
    cursor: pointer;    
}